* {
    background-color: gray;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

.question {
    font-family: sans-serif;
    text-align: center;
    font-size: 10px;
}

.answer {
    font-family: sans-serif;
    text-align: center;
    font-size: 10px;
}